@property --angle-1 {
  syntax: "<angle>";
  inherits: false;
  initial-value: -75deg;
}

@property --angle-2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: -45deg;
}

:root {
  --global--size: clamp(2rem, 4vw, 5rem);
  --anim--hover-time: 400ms;
  --anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  background-image: url("./Pictures/X1LandingPage_03.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 50, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal zentriert Inhalte */
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.text-container {
  text-align: center;
  color: #ffffff;
  margin-bottom: 8rem;
  padding: 1rem;
  transform: translateX(0); /* Entfernt die Verschiebung nach links */
}

.text-container h1 {
  font-size: 8rem;
  margin: 0;

  text-shadow: 0 0 0.8em #00f0ff, 0 0 0.8em #00e0ff;
}

.text-container p {
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
}

.landing-page > div:last-child {
  margin-bottom: 4rem;
  margin-left: 0; /* Entfernt die Verschiebung nach links */
  z-index: 3;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .landing-page {
    background-image: url("./Pictures/X1LandingPage_03.webp");
  }
}

@media (max-width: 768px) {
  .text-container h1 {
    font-size: 3rem;
  }
  .text-container p {
    font-size: 2rem;
  }
  .landing-page > div:last-child {
    margin-left: 0; /* Entfernt die Verschiebung auch auf mobilen Geräten */
  }
}
